extends layout

block content


  body
    if posts
      each post, i in posts
        .post
          h1
            a(href='/posts/show/#{post.title}')=post.title
          h5.meta Category: #{post.category}, Author: #{post.author}  on #{moment(post.date).format("DD-MM-YYYY")}
          p #{post.body}
          a.btn.btn-secondary.btn-lg.btn-block(href='/posts/show/#{post.title}', type='button') Read More
        br
   // ul.nav.nav-pills.nav-stacked
      .row
        .col-md-3
          img.img-circle(src='https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAcHAAAAJDliNTc1NzFjLTIzN2EtNDA0NS1iN2JjLWIyMzUyOGY3ZDA3Ng.jpg')
          br
          h3.
            Ahmet Ozan Sivri
          br
          br

          h5.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla a nulla aliquam, viverra nunc sit amet,
             elementum purus. Quisque id velit aliquet, egestas ex sit amet, lobortis tortor. Nunc vitae turpis eget diam
              bibendum maximus. Nullam ultricies pulvinar purus, vel sodales augue. In ultricies pellentesque mauris
              maximus gravida. Proin consectetur cursus enim. Maecenas interdum pulvinar nunc.

          br
          br

          h6.
            Categories
          h8
            li
              a(href='/category/a') Category A

            li
              a(href='/category/b') Category B

            li
              a(href='/category/c') Category C





