extends layout

block content


  body
    if posts
      each post, i in posts
        .post
          h1
            a(href='/posts/show/#{post._id}')=post.title
            h5.meta
              | Category:
              a(href='/show/#{post.category}') #{post.category}
              |   Date:  #{moment(post.date).format("DD-MM-YYYY")}
          img(src='/images/#{post.postImage}')
          br
          br
          !=shortText(post.body, 800)
          a.btn.btn-secondary.btn-lg.btn-block(href='/posts/show/#{post._id}', type='button') Read More
        br





